*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
button{
    background-color: blue;
    padding: 20px;
    border-radius: 20px;  
    margin: 300px;
    border: none;
    font-size: 40px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    z-index: 9;
    color: aliceblue;
    
}
button:active{
    scale: 0.9;

}
.floating-box{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 8px;
    animation: spin 2s ease-in-out infinite;
    transform-style: preserve-3d;
}

@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    33% {
        transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
    }
    67% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
